@font-face {
  font-family: 'Lay Grotesk';
  font-display: swap;
  font-weight: 400;
  src: url("./fonts/LayGrotesk/laygrotesk-trial-regular.otf") format("opentype");
}

@font-face {
  font-family: 'Lay Grotesk';
  font-display: swap;
  font-weight: 500;
  src: url("./fonts/LayGrotesk/laygrotesk-trial-medium.otf") format("opentype");
}

@font-face {
  font-family: 'Lay Grotesk';
  font-display: swap;
  font-weight: 600;
  src: url("./fonts/LayGrotesk/laygrotesk-trial-semibold.otf") format("opentype");
}

@font-face {
  font-family: 'Lay Grotesk';
  font-display: swap;
  font-weight: 700;
  src: url("./fonts/LayGrotesk/laygrotesk-trial-bold.otf") format("opentype");
}

@font-face {
  font-family: 'Lay Grotesk';
  font-display: swap;
  font-weight: 900;
  src: url("./fonts/LayGrotesk/laygrotesk-trial-black.otf") format("opentype");
}

body {
  min-height: unset !important;
  border-radius: 16px !important;
  background-color: #ffffff !important;
  font-family: 'Lay Grotesk', sans-serif !important;
}

table {
  background-color: #ffffff !important;
}

.verse-header,
.verse-footer {
  display: none !important;
}

button {
    border-radius: 16px !important;
}

[class*="FooterContainer_footerWrapper"] {
  display: none !important;
}

[class*="SwiperBasedSlider_swiperSlide"] {
  height: 500px !important;
}

[class*="page_root"] {
  border-radius: 16px !important;
  background-color: #ffffff !important;
}

[class*="page_left"] {
  background-color: #ffffff !important;
}

[class*="page_right"] {
  background-color: #ffffff !important;
}

[class*="page_header"] {
  background-color: #ffffff !important;
}

[class*="MuiButton-outlinedPrimary"] {
  background-color: #d5fa82 !important;
  color: #000000 !important;
  border: none !important;
}

[class*="layout_page"] {
  background-color: #ffffff !important;
}

[class*="AuthContainer_footer"] {
  background-color: #ffffff !important;
}

[class*="AuthContainer_body"] {
  border: #000000 1px solid !important;
  border-radius: 16px !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}

[class*="Input_input"] {
  border-radius: 8px !important;
  border: #000000 1px solid !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}

[class*="MuiPaper-elevation"] {
  background-color: #ffffff !important;
}

[class*="MuiTableRow-root"] {
  border-radius: 16px !important;
}

[class*="PinnedHeader_root"] {
  background-color: #ffffff !important;
}

[class*="TabArtworkThumbnail_imageWrapper"] {
  background-color: #ffffff !important;
  padding: 0 !important;
}

[class*="JournalSection_section"] {
  display: none !important;
}

[class*="ArtworkListSection_section"] {
  display: none !important;
}

[class*="CollSMSection_baseframe"] {
  flex-direction: column !important;
  --sidebar-width: unset !important;
}

[class*="MuiCollapse-root"] {
 transition: none !important;
}

[class*="ArtworkCover_root"] {
  width: 100% !important;
}

[class*="PurchaseAmountInput_formInput"] {
  border: #060606 1px solid;
  border-radius: 16px;
  margin-right: 8px;
}

[class*="CollDescSection_topicContainer"] {
  display: none !important;
}

[class*="MuiTypography-h1"] {
  font-size: 1.5rem !important;
}

@media screen and (min-width: 768px) {
  [class*="MarkdownContent_markdownContent"] {
    font-size: 1.1rem !important;
  }
}

[class*="CollSMSection_baseframeLeft"] {
  display: none !important;
}