body {
  min-height: unset !important;
  color: red;
}

.verse-header,
.verse-footer {
  display: none !important;
}

/* [class*="ArtworkCover_root"] {
    --wide-cover-max-height-desktop: 0px !important;
}

[class*="CollSinglePMSection_assetCoverRoot"] {
    --forced-max-width: 200px !important;
}

[class*="CollSinglePMSection_baseframe"] {
    min-height: 100px !important;
}

[class*="CollSinglePMSection_stickyContainer"] {
    height: unset !important;
    max-height: unset !important;
    overflow: unset !important;
}

[class*="CollSMSection_baseframe"] {
    display: none !important;
} */

[class*="FooterContainer_footerWrapper"] {
  display: none !important;
}

[class*="SwiperBasedSlider_swiperSlide"] {
  height: 500px !important;
}

[class*="page_root"] {
  border-radius: 16px !important;
}

[class*="MuiButton-colorPrimary"] {
  background-color: #d5fa82 !important;
}

[class*="page_left"] {
  background-color: #f4f4f4 !important;
}



@font-face {
    font-family: 'So';
    src: url('/fonts/soehne-buch.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'So';
    src: url('/fonts/soehne-dreiviertelfett.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'So';
    src: url('/fonts/soehne-breit-dreiviertelfett.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'So';
    src: url('/fonts/soehne-breit-extrafett.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    min-height: 500px !important;
    font-family: 'So' !important;
    margin-bottom: 300px !important;
}

main{
    margin-bottom: 100px !important;
    border-bottom: 1px solid #eee !important;

}

[class*="HeaderContainer_root"] {
    display: none !important;
}

[class*="ArtworkCover_root"] {
    --wide-cover-max-height-desktop: 0px !important;
}


     [class*="CollSinglePMSection_baseframe"] {
        min-height: auto!important;
        border-bottom: 1px solid #000 !important;
        margin-bottom: 100px !important;
    }

[class*="CollSinglePMSection_stickyContainer"] {
    height: unset !important;
    max-height: unset !important;
    overflow: unset !important;
}



[class*="FooterContainer_footerWrapper"] {
    display: none !important;
}

[class*="SwiperBasedSlider_swiperSlide"] {
    height: 500px !important;
}

/*LEFT COLUMN*/
[class*="CollSMSection_baseframeLeft"] {
    display: none !important;
}

[class*="CollSinglePMSection_baseframeLeft"], [class*="page_left"] {

background-color:white !important;

flex-basis: 0 !important;
flex-grow: 2 !important;
border-bottom: 0px !important;
margin-bottom: 0px !important;
}

[class*="CollMultiPMSection_baseframeLeft"] {
    display: none !important;
}

[class*="CollMultiPMSection_topPanel"] h3 {
    display: none !important;
}


[class*="CollSinglePMSection_baseframeRight"], [class*="page_right"] {
    flex-basis: 0 !important;
    flex-grow: 0.7 !important;
    order: -1 !important;
    padding-top: 0px !important;
    border-right: 1px solid #000 !important;
    margin-left: 3% !important;
    margin-bottom: 0px !important;
    border-bottom: 0px !important;
}



/*Release TAG*/
[class*="CollDescSection_topic"] {
    display: none !important;
}

/* Artist */
[class*="CollDescSection_headerSection"] div p.MuiTypography-h1 {
   margin-bottom: -2px !important;
   font-weight: 700 !important;
   text-transform: uppercase !important;
}

/* Title */
[class*="CollDescSection_headerSection"] h1 {
    font-size: 34px !important;
    font-weight: 700 !important;
    font-style: normal !important;
    color: #000 !important;
    line-height: 38px !important;
}

[class*="CollDescSection_labelContainer"] div span {
    padding: 0px !important;    
    background-color: transparent !important;
}

/* From collection */
[class*="CollSeriesReference_root"] {
    font-size: 24px !important;
}

/* This is a curated artwork */
[class*="ArtworkPurchase_typeInfo"] {
    background-color: #fff !important;
    padding:0 !important;
    margin-top: 60px !important;
    color: #666 !important;
}

/*Buy button*/
[class*="ArtworkPMEdition_purchaseButton"] {
    background-color: #000 !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    padding: 20px 40px !important;
}


/* This is the payment options */
[class*="PaymentOptionsDesc_root"] {
    display: none !important;
}

/* Gallery Name */
[class*="CollSinglePMSection_headerSpace"], [class*="CollDescSection_galleryNameContainer"] {
    display: none !important;
}

[class*="CollSinglePMSection_galleryNameContainer"] {
    display: none !important;
}

/* Description */

[class*="CollSinglePMSection_sidebarSubtitle"], [class*="ArtworkEditionDetail_sidebarSubtitle"] {
    font-size: 14px !important;
    font-weight: 800 !important;
    color: #000 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}

[class*="CollDescSection_headerSection"] section {
    font-size: 24px !important;
    font-weight: 400 !important;
}

[class*="MarkdownContent_markdownContent"] p{
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
    width:97% !important;
}

/*Truncate*/
[class*="Truncate_collapsed"] {
    line-clamp: unset !important;
    overflow: unset !important;
    text-overflow: unset !important;
    display: unset !important;
    -webkit-box-orient: unset !important;
    -webkit-line-clamp: unset !important;
}

[class*="Truncate_readmore"] {
    display: none !important;
}

/* Read the full text */
[class*="CollSinglePMSection_exhibSection"] {
    display: none !important;
}

/* Journal */
[class*="JournalSection_section"] {
    display: none !important;
}

[class*="ArtworkListSection_section"] {
    display: none !important;
}

/* //////////////////////////////   AUTH  ////////////////////// */
[class*="AuthContainer_body"] h1 {
    display: none !important;
}

[class*="FooterContainer_footerSection"] {
    border:0px !important;
}


[class*="MuiTypography-root"] {
    font-family: 'So' !important;
}



/*AUTHENTICATION*/
[class*="AuthContainer_body"] {
        font-family: 'So' !important;
}


/*EDITIONS*/

[class*="page_left"], [class*="page_right"] {
    width: unset !important;
    max-width: unset !important;
}

[class*="ArtworkEditionListing_ownedBy"] {
    display: none !important;
}

[class*="page_stickyContainer"] {
    overflow-y: auto !important;
    max-height: inherit !important;
    height: auto !important;
}

[class*="ArtworkCover_root"] {
    height: 600px !important;
}

[class*="PinnedHeader_root"], [class*="CollSMActivityContent_activityContainer"] {
    display: none !important;
}

[class*="ArtworkEditionDetail_exhibSection"] {
    display: none !important;
}

[class*="CollapsedListGroup_container"]:last-child {
    display: none !important;
}


/* BORDERS */

[class*="CollapsedListGroup_collapseButton"] {
    border-bottom-color: #000 !important;
}

[class*="MuiDivider-fullWidth"], hr {
    border-color: #000 !important;
    background-color: #000 !important;
}

[class*="MuiLink-root"] {
    text-decoration: none !important;
}