@font-face {
  font-family: 'Lay Grotesk';
  font-display: swap;
  src: url("https://static.wixstatic.com/ufonts/39f2ad_7f299b6cfff54d019b268df9f622d9b8/woff2/file.woff2") format("woff2"),
       url("https://static.wixstatic.com/ufonts/39f2ad_7f299b6cfff54d019b268df9f622d9b8/woff/file.woff") format("woff"),
       url("https://static.wixstatic.com/ufonts/39f2ad_7f299b6cfff54d019b268df9f622d9b8/ttf/file.ttf") format("truetype");
}

body {
  min-height: unset !important;
  border-radius: 16px !important;
  background-color: #f4f4f4 !important;
  font-family: 'Lay Grotesk', sans-serif !important;
}

table {
  background-color: #f4f4f4 !important;
}

.verse-header,
.verse-footer {
  display: none !important;
}

button {
    border-radius: 16px !important;
}

/* [class*="ArtworkCover_root"] {
    --wide-cover-max-height-desktop: 0px !important;
}

[class*="CollSinglePMSection_assetCoverRoot"] {
    --forced-max-width: 200px !important;
}

[class*="CollSinglePMSection_baseframe"] {
    min-height: 100px !important;
}

[class*="CollSinglePMSection_stickyContainer"] {
    height: unset !important;
    max-height: unset !important;
    overflow: unset !important;
}

[class*="CollSMSection_baseframe"] {
    display: none !important;
} */

[class*="FooterContainer_footerWrapper"] {
  display: none !important;
}

[class*="SwiperBasedSlider_swiperSlide"] {
  height: 500px !important;
}

[class*="page_root"] {
  border-radius: 16px !important;
  background-color: #f4f4f4 !important;
}

[class*="page_left"] {
  background-color: #f4f4f4 !important;
}

[class*="page_right"] {
  background-color: #f4f4f4 !important;
}

[class*="page_header"] {
  background-color: #f4f4f4 !important;
}

[class*="MuiButton-outlinedPrimary"] {
  background-color: #d5fa82 !important;
  color: #000000 !important;
  border: none !important;
}

[class*="layout_page"] {
  background-color: #f4f4f4 !important;
}

[class*="AuthContainer_footer"] {
  background-color: #f4f4f4 !important;
}

[class*="AuthContainer_body"] {
  border: #000000 1px solid !important;
  border-radius: 16px !important;
  background-color: #f4f4f4 !important;
  box-shadow: none !important;
}

[class*="Input_input"] {
  border-radius: 8px !important;
  border: #000000 1px solid !important;
  background-color: #f4f4f4 !important;
  box-shadow: none !important;
}

[class*="MuiPaper-elevation"] {
  background-color: #f4f4f4 !important;
}

[class*="MuiTableRow-root"] {
  border-radius: 16px !important;
}



