body {
  min-height: unset !important;
  color: red;
}

.verse-header,
.verse-footer {
  display: none !important;
}

/* [class*="ArtworkCover_root"] {
    --wide-cover-max-height-desktop: 0px !important;
}

[class*="CollSinglePMSection_assetCoverRoot"] {
    --forced-max-width: 200px !important;
}

[class*="CollSinglePMSection_baseframe"] {
    min-height: 100px !important;
}

[class*="CollSinglePMSection_stickyContainer"] {
    height: unset !important;
    max-height: unset !important;
    overflow: unset !important;
}

[class*="CollSMSection_baseframe"] {
    display: none !important;
} */

[class*="FooterContainer_footerWrapper"] {
  display: none !important;
}

[class*="SwiperBasedSlider_swiperSlide"] {
  height: 500px !important;
}

[class*="page_root"] {
  border-radius: 16px !important;
}

[class*="MuiButton-colorPrimary"] {
  background-color: #d5fa82 !important;
}

[class*="page_left"] {
  background-color: #f4f4f4 !important;
}



